<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <table class="1">
        <tr>
            <td>Id</td>
            <td>Nama</td>
            <td>Prodi</td>
            <td>NPM</td>
        </tr>
        {{ field.field }}
        {% for dt in data %}
        <tr>
            <td>{{dt.id}}</td>
            <td><a href="data/{{dt.id}}">{{dt.nama}}</a></td>
            <td>{{ dt.Prodi }}</td>
            <td>{{ dt.NPM }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>