{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Matkul TIC22</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="">TI C22</a>
        </div>
        <ul class="menu">
            <li><a href="{% url 'main' %}">Home</a></li>
            <li><a href="{% url 'jadwal' %}">Jadwal</a><ul class="jadwal">
                <li><a href="{% url 'senin' %}">Senin</a></li>
                <li><a href="{% url 'selasa' %}">Selasa</a></li>
                <li><a href="{% url 'kamis' %}">Kamis</a></li>
                <li><a href="{% url 'jumat' %}">Jumat</a></li>
            </ul></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="hari1">
        <h1><b>Hari Jumat</b></h1>
        <h3><b>Teknik Informatika C22</b></h3>
    </div>
    <br>
    <div class="isi">
           <img src="{%static 'img/guru.png' %}" width="8%">
           <h3>PEMOGRAMAN BEREORIENTASI OBJEK & PAKTIKUM</h3>
           <h4>Busro Akramul Umam, S.T.,M.T</h4>
           <p>PUSKOM</p>
           <p>at 09:10 - 12:30</p>     
    </div>
    <ol>
        {% for x in datas %}
        <li><b> {{ x.hari }} </b></li>
    <footer class="ft4">
        <div class="container">
            <small>Copyright & copy; 2023 - mufida. All Rights Reserved.</small>
        </div>
    </footer>
</body>
</html>