{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Matkul TIC22</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="">TI C22</a>
        </div>
        <ul class="menu">
            <li><a href="{% url 'main' %}">Home</a></li>
            <li><a href="{% url 'jadwal' %}">Jadwal</a><ul class="jadwal">
                <li><a href="{% url 'senin' %}">Senin</a></li>
                <li><a href="{% url 'selasa' %}">Selasa</a></li>
                <li><a href="{% url 'kamis' %}">Kamis</a></li>
                <li><a href="{% url 'jumat' %}">Jumat</a></li>
            </ul></li>
            <li><a href="{% url 'profil' %}">Profil</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <div class="bas">
        <h3>ABSENSI</h3>
        <p>Berikut tabel pengisian untuk absensi kelas TI C22</p>
        <p>di harap untuk mengisi form dengan baik. Terimakasih</p>
    </div>
    <div class="absensi">
        <div class="table-responsive">
            <table class="tbl">
                {% if pesan %}
                    <div class="alert alert-success">{{ pesan }}</div>
                {% endif %}
                <form action="/profil/" method="post">
                {% csrf_token %}
                <p>TABLE ABSENSI</p>
                <tr>
                    <td>Hari      :</td>
                    <td>{{ form.hari }}</td>
                </tr>
                <tr>
                    <td>Mata Kuliah :</td>
                    <td>{{ form.makul }}</td>
                </tr>
                <tr>
                    <td>Nama        :</td>
                    <td>{{ form.nama }}</td>                
                </tr>
                <tr>
                    <td>NPM         :</td>
                    <td>{{ form.npm }}</td>                
                </tr>
                <tr>
                    <td>Fakultas     :</td>
                    <td>{{ form.fakultas }}</td>                
                </tr>
                <tr>
                    <td>Prodi        :</td>
                    <td>{{ form.prodi }}</td>                
                </tr>
                <tr>
                    <td>Keterangan    :</td>
                    <td>{{ form.keterangan }}</td>                
                </tr>
                <td>
                    <span class="action-btn"> 
                        <button>Simpan</button>
                    </span>
            </table>
    </form>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <small>Copyright & copy; 2023 - mufida. All Rights Reserved.</small>
        </div>
    </footer>
</body>
</html>