<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Pendaftaran</title>
</head>
<body>
    <div class="ubah-data">
        <h2>ubah: {{ data.hari }}</h2>
        {%for message in messages%}
            {% if message %}
                <div class="alert alert-success"><b>{{ message }}</b></div>
            {% endif%}
        {% endfor %}
        <form action="{% url 'ubah_data' data.id %}" method="post">
        {% csrf_token %}
        <table class="tbl-ubah">
            <tr>
                <td>Hari         :</td>
                <td>{{ form.hari }}</td>
            </tr>
            <tr>
                <td>Mata Kuliah :</td>
                <td>{{ form.makul }}</td>
            </tr>
            <tr>
                <td>Nama        :</td>
                <td>{{ form.nama }}</td>                
            </tr>
            <tr>
                <td>NPM         :</td>
                <td>{{ form.npm }}</td>                
            </tr>
            <tr>
                <td>Fakultas     :</td>
                <td>{{ form.fakultas }}</td>                
            </tr>
            <tr>
                <td>Prodi        :</td>
                <td>{{ form.prodi }}</td>                
            </tr>
            <tr>
                <td>Keterangan    :</td>
                <td>{{ form.keterangan }}</td>                
            </tr>
        </table>
        <button>Simpan</button>
        <button><a href="{% url 'data' %}">Kembali</a></button>
        </form>
    </div>
</body>
</html>